<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.edskeizer.steroids.plugin.iOSRemoteNotifications"
    version="1.0.0">

    <name>EdsBackgroundRemote</name>

  <description>
    iOS Background Plugin (iOS Remote Notifications) for Steroids.js
  </description>

  <asset src="www/EchoPlugin.js" target="plugins/EchoPlugin.js" />

  <engines>
    <engine name="cordova" version=">=2.7.0" />
  </engines>

  <!-- ios -->
  <platform name="ios">
  
    <config-file target="*-Info.plist" parent="UIBackgroundModes">
      <array>
        <string>remote-notification</string>
      </array>
    </config-file>
  
    <config-file target="config.xml" parent="/*/plugins">
      <plugin name="iOSRemoteNotifications" value="iOSRemoteNotifications" onload="true" />
    </config-file>

    <config-file target="config.xml" parent="/widget">
      <feature name="iOSRemoteNotifications">
        <param name="ios-package" value="iOSRemoteNotifications"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/Echo.h" />

    <source-file src="src/ios/Echo.m" />

  </platform>
</plugin>
